.container
	a(name='about')
	.row
		.col-md-6
			img.img-responsive(src='img/about.png')
		.col-md-6
			h1.text-primary Сервис создания скриншотов вебстраниц
			p
				| Наш сервис создан для легкого получения снимков вебстраниц. Если вы владелец какого-нибудь сайта, где пользователи активно делятся ссылками друг с другом, то наш сервис это то, что вам нужно. Или, например, вы в своем блоге публикуете ссылки на разные ресурсы. В этом случае наш сервис поможет вам представить ссылки в графическом формате.
			p
				| Мы работаем для людей. В разделе 
				a(href='#contacts') Контакты
				|  указаны способы связи с нами. Если вас что-то не устраивает в работе сервиса или не хватает каких-нибудь функций - свяжитесь с нами и мы обязательно это обсудим.
			p
			h3.share-h Расскажите о нас друзьям
			.share.text-center
				.ya-share2(data-services='vkontakte,facebook,odnoklassniki,moimir,gplus,pinterest,twitter,evernote,pocket,viber,whatsapp', data-image=''+HOME_URL+'img/og.png')
