.container
	a(name='clients')
	.row
		.col-md-12
			h1.text-center.text-primary Наш сервис используют
	.row
		.col-md-12
			.block-avatar-container
				each client in CLIENTS
					+avatar_block(client)
