.container
	a(name='contacts')
	.row
		.col-md-6
			img.img-responsive(src='img/contacts.jpg')
		.col-md-6
			h1.text-primary Контакты
			h3 Свяжитесь с нами, если есть вопросы или предложения
			p
			p
				strong
					i.fa.fa-envelope.fa-lg
					|  
					=CONTACTS.EMAIL
			p
				strong
					i.fa.fa-skype.fa-lg
					|  
					=CONTACTS.SKYPE
			p
				strong
					img#icqicon(src='//wwp.icq.com/scripts/online.dll?icq='+CONTACTS.ICQ+'&img=5', height='18', width='18')
					|  
					=CONTACTS.ICQ
