.cover
	include ../common/_navbar.pug
	.cover-image
	.container
		.row
			.col-md-12.text-center
				h1.text-inverse= PROJECT_NAME
				p.text-inverse= DESCRIPTION
				p
				p
				a.btn.btn-lg.btn-success(href='#examples') Попробовать
