.container
	a(name='examples')
	.row
		.col-lg-12
			h1.text-primary.text-center Примеры
	.row
		.col-md-6
			h3 Можно протестировать сервис так:
			each example in EXAMPLES_CODE
				-link = HOME_URL+'screenshot'+example.query
				div
					p.example-help
						span
							| #{example.desc}
					pre
						code.wget
							| $ wget 
							a(target="_blank", href=''+link+'') #{link}
							|  #{example.opts}

		.col-md-6
			h3 Описание параметров для получения снимка:
			each example in EXAMPLES_DESC
				pre
					code
						strong #{example.param} -
						|  #{example.desc} 
						i По-умолчанию: #{example.default}
