.container
	a(name='social')
	.row
		.col-md-12
			h1.text-center.text-primary Мы в соцсетях
	.row
		.col-md-12
			a(href=''+VK+'', target='_blank')= ВКонтакте
			a(href=''+OK+'', target='_blank')= Одноклассники
