.container
	a(name='team')
	.row
		.col-md-12
			h1.text-center.text-primary Наша команда
			p.text-center Мы - группа профессионалов-программистов
	.row
		.col-md-12
			.block-avatar-container
				each team in TEAM
					+avatar_block(team)
