include ./_mixin.pug
doctype html
html(lang="ru", itemscope, itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#")
	base(href="/")
	meta(name="fragment", content="!")
	head
		//- подключаем секцию header
		//- В ней указаны мета-теги, стили и т. п.
		include ./common/_header.pug
	
	body
		script.
			preloaderCSS3("Пожалуйста, подождите...");

		include ./blocks/_cover.pug

		.section
			include ./blocks/_about.pug

		.section
			include ./blocks/_examples.pug

		.section
			include ./blocks/_team.pug

		.section
			include ./blocks/_clients.pug

		.section
			include ./blocks/_contacts.pug


		//- подключаем нижнюю секцию страницы, где у нас подключены скрипты
		include ./common/_scripts.pug

		//- подключаем yandex и google метрику
		include ./common/_metrics.pug
