@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

/**
 * Custom styles
 */

.cover-image {/* background-image: url(../img/cover.jpg); */
  background-color: #000000;
}

html {
  font-family: 'Ubuntu' !important;
}

.text-cover {
  color: #449d44;
  font-style: bold;
}

.block-avatar-container {
  text-align: center;
  word-spacing: 20px;
}

.block-avatar {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: normal;

  >img {
    transition: all 1s;
    /* max-width: 100%;
	  height: auto; */
    max-width: 200px;
    max-height: 200px;

    &:hover {
      transform: rotate(360deg);
      border-radius: 50%;
    }
  }

  >* {
    word-spacing: normal;
  }
}

@media (min-width: 900px) {
  .share {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999999;
  }

  .share-h {
    display: none;
  }
}

.example-help {
  margin: 10px;
  color: #1518FF;
  font-style: bold;
  font-size: 12px;

  &>span {
    border-bottom: 1px dashed #1518FF;
  }
}
