meta(charset='utf-8')
title= PROJECT_NAME
meta(name='google-site-verification', content='dzIWWD9oz6do-Q0BizxVgl13bhL8BLCwg9RpNlRdKaA')
meta(name='yandex-verification', content='5f35a87a853c5c59')

meta(name='keywords', content=''+KEYWORDS+'')
meta(name='description', content=''+DESCRIPTION+'')

//- Подключаем микроразметку opengraph
include ./_og.pug

meta(name='viewport', content='width=device-width, initial-scale=1')

each cssPath in BOWER_CSS
	link(rel="stylesheet", href=''+cssPath+'')

//-Подключаем preloader.css3
link(rel="stylesheet", href="bower_components/preloader.css3/dist/preloader.css")
script(src='bower_components/preloader.css3/dist/preloader.js')
//-Подключаем preloader.css3

if ENV === 'development'
	link(href='css/style.css', rel='stylesheet')
else
	link(href='css/style.min.css', rel='stylesheet')
