.navbar.navbar-inverse
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				span= PROJECT_NAME
			ul.nav.navbar-nav.hidden-xs.hidden-sm
				li
					a(href=''+VK+'', target="_blank")
						i(class='fa fa-vk')
						|  Группа ВК
		#navbar-ex-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				each link in MAIN_MENU_LINKS
					li
						a(href='#'+link.url+'')
							i(class=''+link.icon+'')
							|  
							=link.name
