link(rel="canonical", href=''+HOME_URL+'')

meta(property="og:title", content=''+PROJECT_NAME+'')
meta(property="og:type", content="website")
meta(property="og:url", content=''+HOME_URL+'')
meta(property="og:image", content=''+HOME_URL+'img/og.png')
meta(property="og:site_name", content=''+DOMAIN+'')
meta(property="og:description", content=''+DESCRIPTION+'')

meta(itemprop="image", content=''+HOME_URL+'img/og.png')
