each jsPath in BOWER_JS
	script(src=''+jsPath+'')

script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
script(src='//yastatic.net/share2/share.js', charset='utf-8')

if ENV === 'development'
	script(src='js/script.js')
else
	script(src='js/script.min.js')
